@import '~antd/dist/antd.css';

.site-layout-content {
  min-height: 400px;
  padding: 24px;
  background: #fff;
}

.ant-card-meta-detail {
  min-width: 200px;
  width: 100%;
}

.ant-card-meta-title {
  text-align: left;
}

.ant-card-meta-description {
  text-align: center;
}

.login-form {
  max-width: 500px;
}

.login-form-button {
  width: 100%;
}